<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/assets/style.css">
    <title>게시글</title>
</head>
<body>
<div class="container">
    <div class="cont-header">
        <img src="/assets/head_image.jpg" class="cover_img">
    </div>

    <div class="cont-contents">
        <section class="cont-contents-sidemenu" >
            <ul th:each="board : ${boards}">
                <li>
                    <a th:href="@{/board/{id} (id=${board.id})}" th:text="${board.title}"></a>
                </li>
            </ul>
        </section>

        <section class="cont-contents-board">
            <div class="post-view">
                <div class="post-view-header">
                    <h1 th:text="${post.title}"></h1>
                    <div class="post-view-information">
                        <span th:text="'작성날짜: ' + ${post.created}"></span>
                        <span th:text="'조회수: ' + ${post.hit}"></span>
                    </div>
                </div>

                <div class="post-view-content">
                    <span th:text="${post.content}"></span>
                </div>

                <div class="post-view-reply">
                    <div class="reply-write">
                        <textarea placeholder="댓글 작성 시 타인에 대한 배려와 책임을 담아주세요">

                        </textarea>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
</body>
</html>